server:
  shutdown: immediate

spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          public-key-location: classpath:local-public-key.pub

community:
  endpoint.url: http://localhost:8096
hmpps-person-match-score:
  endpoint.url: http://localhost:8096
