spring:
  application:
    name: probation-offender-search

  config:
    use-legacy-processing: true

  threads.virtual.enabled: true

  jackson:
    default-property-inclusion: non_null

  profiles:
    groups:
      test:
        - "stdout"
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  security:
    oauth2:
      client:
        registration:
          probation-search-and-delius:
            provider: hmpps-auth
            client-id: ${oauth.client.id}
            client-secret: ${oauth.client.secret}
            authorization-grant-type: client_credentials
            scope: read
        provider:
          hmpps-auth:
            token-uri: ${oauth.endpoint.url}/auth/oauth/token

server:
  port: 8080
  servlet:
    context-path: /
  tomcat:
    remoteip:
      protocol-header: x-forwarded-proto
      remote-ip-header: x-forwarded-for
  forward-headers-strategy: native
  shutdown: graceful

management:
  endpoints:
    web:
      base-path: /
      exposure:
        include: 'info, health'
  endpoint:
    health:
      cache:
        time-to-live: 2000ms
      show-components: always
      show-details: always
      probes:
        enabled: true
    info:
      cache:
        time-to-live: 2000ms

cloud:
  aws:
    stack:
      auto: false
    region:
      static: eu-west-2

search:
  supported:
    mapping:
      version: 1

sentry.traces-sample-rate: "0.05"

dataload.ondemand.batch.size: 50

