# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 2

image:
  repository: quay.io/hmpps/probation-offender-search
  tag: latest
  port: 8080

ingress:
  enabled: true
  enable_whitelist: false
  annotations:
    kubernetes.io/ingress.class: "nginx"
  hosts:
    - host: probation-offender-search-dev.hmpps.service.justice.gov.uk
      cert_secret: probation-offender-search-cert
  path: /

env:
  JAVA_OPTS: "-Xmx512m"
  SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI: "https://sign-in-dev.hmpps.service.justice.gov.uk/auth/.well-known/jwks.json"
  COMMUNITY_ENDPOINT_URL: "https://community-api-secure.test.delius.probation.hmpps.dsd.io"
  ES_PROXY_HOST: "es-proxy"

