name: integration test template for kotlin

on:
  workflow_call:

permissions:
  contents: read

jobs:
  integration_tests:
    runs-on: ubuntu-latest
    services:
      opensearch:
        image: opensearchproject/opensearch:3.1.0
        env:
          OPENSEARCH_INITIAL_ADMIN_PASSWORD: Random!Password1
          node.name: opensearch
          cluster.name: probation-search-cluster
          discovery.type: single-node
          bootstrap.memory_lock: true
          plugins.security.disabled: true
          OPENSEARCH_JAVA_OPTS: -Xms8g -Xmx8g
          plugins.ml_commons.only_run_on_ml_node: false
          plugins.ml_commons.model_access_control_enabled: false
          plugins.ml_commons.native_memory_threshold: 99
        options: >-
          --health-cmd "curl http://localhost:9200/_cluster/health"
          --health-interval 10s
          --health-timeout 30s
          --health-retries 20
        ports:
          - 9200:9200

    steps:
      - uses: actions/checkout@v6
      - name: refresh cache
        id: initial-cache
        uses: actions/cache@v4
        env:
          cache-name: kotlin-cache
        with:
          path: |
            - gradle-{{ checksum "build.gradle.kts" }}
            - gradle-
          key: ${{ runner.os }}-gradle-${{ env.cache-name }}-${{ hashFiles('build.gradle.kts') }}
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'gradle'
          cache-dependency-path: |
            *.gradle*
            **/gradle-wrapper.properties
      - run: ./gradlew check
        env:
          JAVA_TOOL_OPTIONS: "-Xmx4g -Dorg.gradle.daemon=false -Dkotlin.compiler.execution.strategy=in-process"
          TESTCONTAINERS_ELASTICSEARCH_ENABLED: 'false'
      - name: upload the artifacts
        if: always()
        uses: actions/upload-artifact@v5
        with:
          name: upload kotlin valdation results
          path: |
            build/test-results
            build/reports/tests